#rta_modal_wrapper.overlay:before {
	content: " ";
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	background: #000;
	background: rgba(0,0,0,0.7);
}

#rta_modal_window {
	display: none;
	z-index: 200;
	position: fixed;
	left: 50%;
	top: 50%;
	overflow: auto;
	padding: 10px 20px;
	background: #fff;
	border: 5px solid #999;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#rta_modal_wrapper.overlay #rta_modal_window {
	display: block;
}